<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Trellis_Salsify::menu" title="Salsify" module="Trellis_Salsify" sortOrder="100" action="salsify/payload" resource="Trellis_Salsify::menu"/>
    </menu>
</config>

